* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.Content {
  width: 80%;
  margin: auto;
}

.Content div + p {
  text-align: left;
}
.BTN {
  margin: 30px;
}

/* @media all and (min-width:400px) and (max-width:700px){

  .Content{
    background-color: teal;
  }
} 
    */
