* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Navbar img {
  width: 42%;
  margin: auto;
  padding: 20px;
}
.Links {
  display: flex;
  width: 70%;
  margin: auto;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 2px solid red;
  align-items: center;
  font-weight: bold;
}


/* Media Queries */

@media all and (min-width: 400px) and (max-width: 700px) {
  .Links {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid teal;
  }
  .Links div {
    margin: 5px;
    width: 100%;
   
    
    /* display: block; */
  }
  .Navbar img {
    width: 50%;
    margin: auto;
    padding: 20px;
  }

}
