* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.BackImage {
  position: relative;
  width: 100%;
  height: 100vh;
}
.RegisterBox {
  width: 50%;
  margin: auto;
}
.RegisterBox img {
    width: 50%;
  position: absolute;
  top: 5%;
}

.Container{
  position: absolute;
  margin: auto;
  width: 50%;
  bottom:30%;
  background-color: white;
  text-align: left;
  align-items: center;
  padding: 3.5%;
  border-radius: 10px;
  
}
.RegBtn{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
